* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

.body {
    
    background-size: cover;
    background-size: 100% 100%;
}

/*HEADER*/

.header-container {
    background: rgb(10,10,22);
    background: linear-gradient(349deg, rgba(10,10,22,1) 18%, rgba(158,70,252,1) 100%);    
    color: #f1ddbf;
    border-bottom: solid 2px black;
    position: sticky;
    top: 0px;
    font-size: 20px;
    
}

.logo-photo {
    width: 165px;
    height: 140px;
    overflow: hidden;
    padding-right: 20px;
}
.menu {
    font-weight: 500;
    color:  rgb(233, 69, 96);
    font-family: fantasy;
    font-weight: 500;
    font-size: 22px;
}

.menu-list:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 2s;
}



/*Personalizacion Mains*/

.main-background{ 
    background-image: url(/imagenes/verticalconcert.jfif);
    padding-top: 20px; bottom: 30px;
    

}

.band-text{
    font-weight: 500;
    font-size: 35px;
    color: white;
}
.shadow-image{
    box-shadow: 27px 22px 5px 0px rgba(31,23,23,0.58);
-webkit-box-shadow: 27px 22px 5px 0px rgba(31,23,23,0.58);
-moz-box-shadow: 27px 22px 5px 0px rgba(31,23,23,0.58);
}
.text-shadow{
    text-shadow: 4px 4px 0px rgba(6,6,6,0.55);

}


                                        /* FOOTER*/
.footer-container {
    background: linear-gradient(184deg, rgba(10,10,22,1) 18%, rgba(158,70,252,1) 100%);    
    color: rgb(233, 69, 96);
    padding: 20px 0px;
    padding: 20px;
    height: auto;
    border-top: solid 2px black;
}
.logo-photo2 {
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.footer-list {
    font-family: fantasy;
    font-size: 20px;
    list-style-type: none;
}

.iconos {

    font-size: 20px;
    font-weight: bold;
}

/* info de bandas*/

.container-edit{
    color: white;
    font-size: 15px;
    padding-left: 50px;
    height: auto;
    text-align: center;
}


/*INFORMACION HTML*/

.como-llegar {
    display: flex;
    justify-content: end;
    text-align: center;
    height: 100px;
    font-size: 50px;
    color: white;
}

.como-llegar h1 {
    align-items: center;
    padding-top: 20px;
}


.info-hipodromo {
    color: white;
    height: 500px;
    font-size: 50px;
    padding-left: 50px;
    height: auto;
    text-align: center;
}
